body{
    margin:0;
    background:#6592CF
  }
  .content{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  }
  .square {
    width: 250px;
    height: 250px;
    background: #243D83;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
  }
  .square:before{
    content:'';
    width:150px;
    height:150px;
    transform:rotate(15deg);
    background:#6592CF;   
  }
  .square:after{
    content:'';
    width:75px;
    height:75px;
    position:absolute;
    transform:rotate(30deg);
    background:#243D83;   
  }